:root {
  /** 主题颜色 */

  --vp-c-brand-1: #f5bf0c;
  --vp-c-brand-2: #f7d43b;
  --vp-c-brand-3: #c5b34d;
  --vp-c-brand-soft: #ffdb3b70;

  /** 背景颜色 */

  --vp-c-bg: #fff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #fff;
  --vp-c-bg-soft: #f6f6f7;

  /** 文本颜色 */
  --vp-c-text-1: rgba(60, 60, 67);
  --vp-c-text-2: rgba(60, 60, 67, 0.78);
  --vp-c-text-3: rgba(60, 60, 67, 0.56);
 
}

/** 深色模式 */
[data-theme="dark"] {

  --vp-c-brand-1: #fae06b;
  --vp-c-brand-2: #f7d43b;
  --vp-c-brand-3: #9e9043;
  --vp-c-brand-soft: #968b629a;

  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;

  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-3: rgba(235, 235, 245, 0.38);

}
